[package]
name = "review-database"
version = "0.3.0-alpha.3"
edition = "2021"

[dependencies]
aho-corasick = "0.7"
anyhow = "1"
bb8-postgres = { version = "0.8", features = [
  "with-serde_json-1",
  "with-chrono-0_4",
] }
bincode = "1"
chrono = { version = "0.4", default_features = false, features = ["serde"] }
data-encoding = "2"
diesel = { version = "2", features = [
  "chrono",
  "postgres",
  "r2d2",
  "serde_json",
] }
diesel_derives = "2.0"
fallible-iterator = "0.2"
flate2 = "1.0"
futures = "0.3"
ip2location = "0.3.5"
ipnet = { version = "2", features = ["serde"] }
num-derive = "0.3"
num-traits = "0.2"
postgres-protocol = "0.6"
r2d2 = "0.8"
rand = "0.8"
refinery = { version = "0.8", features = ["tokio-postgres"] }
ring = { version = "0.16", features = ["std"] }
rocksdb = "0.20.1"
rustls = "0.20" # should be the same version as what tokio-postgres-rustls depends on
rustls-native-certs = "0.6"
rustls-pemfile = "1.0"
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
serde_json = "1"
structured = "0.11"
strum = "0.24"
strum_macros = "0.24"
thiserror = "1"
tokio = { version = "1", features = ["macros"] }
tokio-postgres-rustls = "0.9"
tracing = "0.1"

[dev-dependencies]
bytes = "1"
tempfile = "3"
